/* Add mobile styles for the component here.  */

.fab-button {
  height: 70;
  width: 70;
  background-color: #ff4081;
  color: white !important;
  /* background-position: 10px */
  vertical-align: bottom;
}

.botom-nav {
  tab-active-color: green;
  tab-inactive-color: black;
  tab-background-color: blue;
}
