<ActionBar class="action-bar" title="{N} Hamburger Example">
  <!-- <NavigationButton
    text="Go Back"
    android.systemIcon="ic_menu_back"
    tap="onNavBtnTap"
  ></NavigationButton> -->
  <ActionItem
    tap="toggleDrawer"
    ios.systemIcon="4"
    android.systemIcon="ic_menu_manage"
    ios.position="left"
  ></ActionItem>

  <Label
    class="action-bar-title"
    style="text-align: center"
    [text]="'Dashboard' | translate"
  ></Label>

  <!-- <ActionItem
    tap="onShare"
    ios.systemIcon="9"
    ios.position="left"
    android.systemIcon="ic_menu_share"
    android.position="actionBar"
  ></ActionItem> -->
  <ActionItem
    (tap)="handlenavigation('income')"
    ios.systemIcon="16"
    ios.position="right"
    text="Add Income"
    iconColor="@color/ns_white"
    android.position="popup"
  ></ActionItem>
  <ActionItem
    (tap)="handlenavigation('expense')"
    ios.systemIcon="16"
    ios.position="right"
    text="Add Expense"
    android.position="popup"
  ></ActionItem>
</ActionBar>

<StackLayout>
  <!-- <StackLayout class="sidedrawer-left">
        <StackLayout class="sidedrawer-header">
            <Label text="Hello RadSideDrawer!" class="sidedrawer-header-brand" />
        </StackLayout>
        <StackLayout class="sidedrawer-content">
            <Label text="Home" class="sidedrawer-list-item-text" />
            <Label text="Basics" class="sidedrawer-list-item-text" />
            <Label text="Options" class="sidedrawer-list-item-text" />
            <Label text="Help" class="sidedrawer-list-item-text" />
            <Label text="Advanced" class="sidedrawer-list-item-text" />
        </StackLayout>
    </StackLayout> -->
  <GridLayout>
    <ListView
      [items]="income"
      style="margin-top: 10;"
      (itemTap)="onItemTap($event)"
      class="list-group"
    >
      <ng-template
        let-income="item"
        let-i="index"
        let-odd="odd"
        let-even="even"
      >
        <StackLayout
          orientation="vertical"
          class="list-group-item"
          style="border: bottom 2px;"
        >
          <Button
            *ngIf="income.inventoryType == 'INCOME'"
            horizontalAlignment="left"
            text="i"
            style="width:57;height:57;color:green;margin-top:16; font-size:25px;border-radius:100;border-width:2;border-color:white;background-color:#efefef"
          ></Button>
          <Button
            *ngIf="income.inventoryType == 'EXPENSE'"
            horizontalAlignment="left"
            text="e"
            style="width:57;height:57;color:lightcoral;margin-top:16; font-size:25px;border-radius:100;border-width:2;border-color:white;background-color:#efefef"
          ></Button>
          <Label
            style="font-weight: bold"
            horizontalAlignment="left"
            [text]="income.title"
            style="margin-left:65;margin-top:-50"
          >
          </Label>
          <Label
            horizontalAlignment="left"
            [text]="'(' + (income.createdAt | date: 'short') + ')'"
            style="margin-left:65;color:silver;"
          ></Label>
          <Label
            *ngIf="income.inventoryType == 'INCOME'"
            horizontalAlignment="right"
            style="color:green; font-weight: bold;margin-top:-20"
            [text]="'$' + income.amount"
          ></Label>
          <Label
            *ngIf="income.inventoryType == 'EXPENSE'"
            horizontalAlignment="right"
            style="color:red; font-weight: bold;margin-top:-20"
            [text]="'$' + income.amount"
          ></Label>
          <!--  -->
        </StackLayout>
      </ng-template>
      <StackLayout class="hr-light m-10"></StackLayout>
    </ListView>
    <Button
      text="Toggle Drawer"
      class="btn btn-primary"
      tap="toggleDrawer"
    ></Button>
    <!-- <Button
      text="+"
      style="width:67;height:67;vertical-align: bottom;margin: 20 30 40 260;   color:white; font-size:25px;border-radius:100;border-width:2;border-color:white;background-color:blue"
    ></Button> -->
    <!-- android.systemIcon="ic_menu_back" -->
    <fab
      #createEventFab
      (tap)="handleInvestment()"
      icon="ic_input_add"
      rippleColor="#f1f1f1"
      class="fab-button"
    >
    </fab>
    <Text style="margin-top:250px;text-align: center" *ngIf="income.length == 0"
      >No Data</Text
    >
  </GridLayout>
</StackLayout>
<!-- <StackLayout>
  <BottomNavigation
    activeColor="red"
    inactiveColor="yellow"
    backgroundColor="black"
    (tabSelected)="onBottomNavigationTabSelected($event)"
    (tabPressed)="onBottomNavigationTabPressed($event)"
    row="1"
  >
    <BottomNavigationTab title="First" icon="ic_home"></BottomNavigationTab>
    <BottomNavigationTab
      title="Second"
      icon="ic_view_list"
    ></BottomNavigationTab>
    <BottomNavigationTab title="Third" icon="ic_menu"></BottomNavigationTab>
  </BottomNavigation>
</StackLayout> -->
