<ActionBar class="action-bar">
  <Label class="action-bar-title" [text]="'Sign Up' | translate"></Label>
</ActionBar>

<GridLayout class="page">
  <FlexboxLayout class="page">
    <StackLayout class="form">
      <StackLayout class="input-field">
        <!-- <FormattedString> -->
        <label [text]="'First Name' | translate"></label>
        <!-- </FormattedString> -->
        <TextField
          #firstName
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10"
          ...
        ></TextField>
      </StackLayout>

      <StackLayout class="input-field">
        <label [text]="'Last Name' | translate"></label>
        <TextField
          #lastName
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10"
          ...
        ></TextField>
      </StackLayout>

      <StackLayout class="input-field">
        <label [text]="'Mobile' | translate"></label>
        <TextField
          #mobile
          maxLength="10"
          keyboardType="number"
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10"
          ...
        ></TextField>
      </StackLayout>
      <StackLayout class="input-field">
        <label [text]="'Email' | translate"></label>
        <TextField
          #email
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10"
          ...
        ></TextField>
      </StackLayout>
      <StackLayout class="input-field">
        <label [text]="'password' | translate"></label>
        <TextField
          #password
          secure="true"
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10"
          ...
        ></TextField>
      </StackLayout>
      <StackLayout class="input-field">
        <label [text]="'Company Name' | translate"></label>
        <TextField
          #companyName
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10"
          ...
        ></TextField>
      </StackLayout>

      <Button
        class="btn btn-primary btn-rounded-lg"
        style="height:50;padding:10"
        [text]="'Sign Up' | translate"
        (tap)="
          register(
            firstName.text,
            lastName.text,
            mobile.text,
            email.text,
            companyName.text,
            password.text
          )
        "
      ></Button>
      <Label (tap)="navigateSignin()" style="text-align:center;margin-top: 20">
        <FormattedString>
          <Span [text]="'Back to Login' | translate"></Span>
        </FormattedString>
      </Label>
    </StackLayout>
  </FlexboxLayout>
</GridLayout>
