<ActionBar class="action-bar" title="Income">
  <NavigationButton
    text="Go Back"
    android.systemIcon="ic_menu_back"
    (tap)="onNavBtnTap()"
  ></NavigationButton>
  <Label
    class="action-bar-title"
    style="text-align: center"
    [text]="'OTP Verification' | translate"
  ></Label>
</ActionBar>
<GridLayout class="page">
  <FlexboxLayout>
    <!-- <TextView
      >OTP verification - Note - You must have received an otp at your
      registered mobile number please enter and verifiy your identity...
    </TextView> -->
    <StackLayout class="form">
      <Label
        class="text-center"
        style="color:red"
        text="OTP verification - Note - You must have received an otp at your
            registered mobile number please enter and verifiy your identity..."
      ></Label>
      <StackLayout class="input-field">
        <label text="otp"></label>
        <TextField #otp keyboardType="number" ...></TextField>
      </StackLayout>
      <Button text="Verify" (tap)="verify(otp.text)"></Button>
    </StackLayout>
    <!-- [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'" -->
  </FlexboxLayout>

  <!-- Add your page content here -->
</GridLayout>
