<ActionBar class="action-bar">
  <Label class="action-bar-title" [text]="'Sign In' | translate"></Label>
</ActionBar>
<GridLayout class="page" style="margin-top:-50">
  <FlexboxLayout>
    <StackLayout class="form" style="margin-top:-60">
      <Image
        src="~/images/logo.png"
        class="img-rounded p-l-15 p-r-15 p-t-15"
        stretch="none"
        horizontalAlignment="center"
        style="margin-left:-30"
      ></Image>
      <StackLayout class="input-field">
        <TextField
          #email
          [hint]="'Email' | translate"
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10;color:black"
          ...
        ></TextField>
      </StackLayout>
      <StackLayout class="input-field">
        <TextField
          #password
          hint="Password"
          class="input input-rounded m-t-10 inputcorrect"
          style="padding: 10;color:black"
          secure="true"
          ...
        ></TextField>
      </StackLayout>
      <!-- <Button
        [text]="'Sign In' | translate"
        (tap)="authenticate(email.text, password.text)"
      ></Button> -->
      <Button
        class="btn btn-primary btn-rounded-lg"
        style="height:50;padding:10"
        [text]="'Sign In' | translate"
        (tap)="authenticate(email.text, password.text)"
      ></Button>
      <Label (tap)="navigateSignup()" class="sameline">
        <FormattedString>
          <Span class="sameline" [text]="'Create an account' | translate">
          </Span>
        </FormattedString>
      </Label>
    </StackLayout>
    <!-- [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'" -->
  </FlexboxLayout>
</GridLayout>
