<ActionBar class="action-bar">
  <NavigationButton
    text="Go Back"
    android.systemIcon="ic_menu_back"
    (tap)="onNavBtnTap()"
  ></NavigationButton>
  <Label class="action-bar-title" [text]="'Add Income' | translate"></Label>
</ActionBar>
<!-- <GridLayout class="page"> -->
<!-- <FlexboxLayout class="page"> -->
<StackLayout class="form">
  <StackLayout class="input-field">
    <label [text]="'title' | translate"></label>
    <TextField
      #title
      class="input input-border inputcorrect"
      style="padding: 10"
      ...
    ></TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <label [text]="'amount' | translate"></label>
    <TextField
      #amount
      keyboardType="number"
      class="input input-border inputcorrect"
      style="padding: 10"
      ...
    ></TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <label [text]="'description' | translate"></label>
    <TextField
      #description
      class="input input-border inputcorrect"
      style="padding: 10"
      ...
    ></TextField>
  </StackLayout>
  <StackLayout orientation="vertical" class="list-group-item">
    <Button
      horizontalAlignment="left"
      text="+"
      (tap)="getPicturefromgallery()"
      style="width:57;height:57;color:black; font-size:25px;border-radius:100;border-width:2;border-color:white;background-color:#efefef"
    ></Button>
    <Label horizontalAlignment="left" text="Add Attachment"></Label>
    <Image
      horizontalAlignment="right"
      style="height:90;width:60;margin-top:-60"
      *ngIf="myImage"
      src="{{ myImage }}"
      strech="aspect"
    ></Image>
  </StackLayout>
  <Button
    class="btn btn-primary btn-rounded-lg"
    style="height:50;padding:10"
    [text]="'Add Income' | translate"
    (tap)="addIncome(title.text, amount.text, description.text)"
  ></Button>
</StackLayout>

<!-- </FlexboxLayout> -->
<!-- </GridLayout> -->
