<ActionBar class="action-bar">
  <NavigationButton
    text="Go Back"
    android.systemIcon="ic_menu_back"
    (tap)="onNavBtnTap()"
  ></NavigationButton>
  <Label class="action-bar-title" [text]="'Add Expenses' | translate"></Label>
</ActionBar>
<GridLayout class="page">
  <StackLayout class="form">
    <StackLayout class="input-field">
      <label [text]="'title' | translate"></label>
      <TextField #title ...></TextField>
    </StackLayout>

    <StackLayout class="input-field">
      <label [text]="'amount' | translate"></label>
      <TextField #amount keyboardType="number" ...></TextField>
    </StackLayout>

    <StackLayout class="input-field">
      <label [text]="'description' | translate"></label>
      <TextField #description ...></TextField>
    </StackLayout>
    <StackLayout orientation="vertical" class="list-group-item">
      <Button
        horizontalAlignment="left"
        text="+"
        (tap)="getPicturefromgallery()"
        style="width:57;height:57;color:black; font-size:25px;border-radius:100;border-width:2;border-color:white;background-color:#efefef"
      ></Button>
      <Label horizontalAlignment="left" text="Add Attachment"></Label>
      <Image
        horizontalAlignment="right"
        style="height:90;width:60;margin-top:-60"
        *ngIf="myImage"
        src="{{ myImage }}"
        strech="aspect"
      ></Image>
    </StackLayout>
    <Button
      style="background:silver;color:black "
      [text]="'Add Expense' | translate"
      (tap)="addIncome(title.text, amount.text, description.text)"
    ></Button>
  </StackLayout>
</GridLayout>
