<ActionBar class="action-bar" title="Income">
  <NavigationButton
    text="Go Back"
    android.systemIcon="ic_menu_back"
    (tap)="onNavBtnTap()"
  ></NavigationButton>
  <Label
    class="action-bar-title"
    style="text-align: center"
    [text]="'Income' | translate"
  ></Label>
</ActionBar>
<StackLayout>
  <GridLayout>
    <ListView
      [items]="income"
      style="margin-top: 30"
      (itemTap)="onItemTap($event)"
      class="list-group"
    >
      <ng-template
        let-income="item"
        let-i="index"
        let-odd="odd"
        let-even="even"
      >
        <StackLayout orientation="vertical" class="list-group-item">
          <Label
            style="font-weight: bold"
            horizontalAlignment="left"
            [text]="income.title"
          >
          </Label>
          <Label
            horizontalAlignment="left"
            style="color:silver;"
            [text]="'(' + (income.createdAt | date: 'short') + ')'"
          ></Label>
          <Label
            horizontalAlignment="right"
            style="color:green; font-weight: bold;margin-top:-20"
            [text]="'$' + income.amount"
          ></Label>
          <!--  -->
        </StackLayout>
      </ng-template>
    </ListView>
    <FAB
      #createEventFab
      (tap)="addIncomeNavigation()"
      android.systemIcon="btn_plus"
      rippleColor="#f1f1f1"
      class="fab-button"
    >
    </FAB>
  </GridLayout>
</StackLayout>

<!-- <StackLayout>
    <FAB
      (tap)="fabTap()"
      icon="'~/images/ic_add_white.png'"
      rippleColor="#f1f1f1"
      class="fab-button"
    ></FAB>
  </StackLayout> -->
