/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~nativescript-theme-core/css/core.light.css";

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.far {
  font-family: Font Awesome 5 Free, fa-regular-400;
  font-weight: 400;
}
.inputcorrect {
  height: 50;
}

.fab {
  font-family: Font Awesome 5 Brands, fa-brands-400;
  font-weight: 400;
}
.ico {
  font-family: "IcoMoon-Free";
  font-size: 48;
}

.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 900;
}
.btn {
  font-size: 18;
}
.fab-button {
  height: 70;
  width: 70;
  /* // this is required on iOS - Android does not require width so you might need to adjust styles */
  margin: 15;
  background-color: #ff4081;
  horizontal-align: right;
  vertical-align: bottom;
}
.action-bar {
  background: #345575;
  /* #efd116; */

  color: white;
}
.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  width: 80%;
  vertical-align: middle;
}
.fab-button {
  height: 70;
  width: 70;
  margin: 15;
  background-color: #ff4081;
  /* background-position: 10px */
  vertical-align: bottom;
  border-inline-end: right;
}
