const Button = require("tns-core-modules/ui/button").Button; const
AbsoluteLayout =
require("tns-core-modules/ui/layouts/absolute-layout").AbsoluteLayout;

<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
  <AbsoluteLayout>
    <!-- <Button text="Left: 10, Top: 5" left="10" top="5"></Button> -->
    <!-- <Button text="Left: 30, Top: 80" left="30" top="80"></Button> -->
    <Button
      [nsRouterLink]="['/signin']"
      pageTransition="slide"
      clearHistory="true"
      style="background:#EFD116;color:white"
      text="Sign In"
      left="155"
      top="215"
    >
    </Button>
    <Button
      text="Sign Up"
      style="background:#EFD116;color:white"
      left="155"
      top="300"
    >
      >
    </Button>
    <!-- <Button text="Left: 70, Top: 150" left="70" top="150"></Button> -->
  </AbsoluteLayout>
  <!-- Add your page content here -->
</GridLayout>
